venv
*.pyc
staticfiles
.env
db.sqlite3
myenv/
env/
.idea/*
wltourney/settings_local.py
.idea/workspace.xml
.idea/misc.xml
.idea/wltourney.iml
.idea/misc.xml
.idea/wltourney.iml
.idea/misc.xml
.idea/wltourney.iml
.idea/misc.xml
.idea/wltourney.iml
.project
.pydevproject
128teamseeded.pdf
*.code-workspace
*.log
web.config
run_waitress_server.py
wlct/management/commands/server.py
