{% extends "base.html" %}
{% load static %}

{% block title %}Custom Warzone Tournaments & Leagues{% endblock %}

{% block content %}

<!-- Tournaments section bg -->
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xs-2 offset-sm-2 offset-md-2 offset-lg-2">
        {% if tournament %}
        <div class="card gedf-card span8">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4>{{ tournament.name }} &nbsp;
                            <span class="text-muted h7 mb-2">
                                            <i class="fa fa-clock-o">
                                            </i> created {{ tournament.time_since_created }} by
                                            &nbsp;
                                            {% if tournament.created_by.clan %}
                                            <a href="https://warzone.com{{ tournament.created_by.clan.icon_link }}"
                                               target="_blank"><img src="{{ tournament.created_by.clan.image_path }}"/></a>
                                            {% endif %}
                                            <a href="https://warzone.com/Profile?p={{ tournament.created_by.token }}"
                                               target="_blank">{{ tournament.created_by.name }}</a>
                                        </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <span id="pause_resume_buttons">{{ pause_resume_buttons|safe }}</span>
                <input type="hidden" value="{{ tournament.get_current_template_id }}" id="templateid">
                <input type="hidden" value="{{ tournament.id }}" id="tournamentid">

                {% if not tournament.is_finished %}
                    <button type="button" class="btn btn-md btn-primary" id="refresh_tournament">Refresh League</button>
                {% endif %}

                {% if request.session.token == tournament.created_by.token %}
                    <button type="button" class="btn btn-md btn-secondary" id="league_editor">{{ tournament.league_editor_button_text|safe }}</button>
                {% endif %}

                {% if tournament.show_invite_button and tournament.created_by.token == request.session.token %}
                <button type="button" class="btn btn-md btn-primary invite_players" id="invite_players">+ Invite Players</button>
                {% endif %}
                {% if not tournament.is_finished %}
                <br/><br/>
                {% endif %}
                <p class="card-text h7">
                    <b>League Description</b>&nbsp;<a
                        href="https://warzone.com/MultiPlayer?TemplateID={{ tournament.get_current_template_id }}" target="_blank"
                        class="badge badge-primary">Click to create game with template settings</a>
                    <br/> {{ tournament.description }}
                </p>
                <span id="join_leave_buttons">
                    {{ join_leave_buttons|safe }}
                </span>
                {% if tournament.should_show_max_games_option %}
                    {% if tourney_player %}
                        Max Games:&nbsp;{{ tourney_player.get_max_games_at_once_option|safe }}
                    {% endif %}
                {% endif %}
                <div class="container">
                    <div class="row h4 success">
                        {{ tournament.get_template_data_text }}
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="lobby-tab" href="#lobbytab" data-toggle="tab">Rankings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="games-tab" href="#gamestab" data-toggle="tab">Bracket/Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="games-log-tab" href="#gameslogtab" data-toggle="tab">Game Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="invite-tab" href="#invitetab" data-toggle="tab">Invited Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" href="#settingstab" data-toggle="tab">Template Settings</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="lobbytab">{{ team_table|safe }}
                        </div>
                        <div class="tab-pane" id="gamestab">
                            {{ bracket_game_data|safe }}
                        </div>
                        <div class="tab-pane" id="gameslogtab">
                            <div id="gamelogtab-inner">
                                {{ game_log|safe }}
                            </div>
                        </div>
                        <div class="tab-pane" id="invitetab">{{ invited_players|safe }}
                        </div>
                        <div class="tab-pane" id="settingstab">{{ template_settings|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal to display errors from the ajax requests on the page -->
    <div class="modal" tabindex="-1" role="dialog" id="tournament_status">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tournament_status_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="tournament_status_text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to display the league editing window for the tournament -->
    <div class="modal" tabindex="-1" role="dialog" id="league_editing_window" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="league_editing_window_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                        <div class="alert alert-danger" role="alert" id="league_editing_window_status">
                            <span id="league_editing_window_status_text"></span>
                        </div>
                    <span id="league_editing_window_text"></span>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="league_editing_window_submit">Save League Data
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to display the list of players on the site to invited -->
    <div class="modal" tabindex="-1" role="dialog" id="tournament_invites">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tournament_invites_title">Invite Players</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="tournament_invites_text">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}